@{
    ViewBag.Title = "Total Avialablilty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/c3.min.js"></script>
<script src="~/Scripts/d3.min.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="~/Scripts/jquery.js"></script>

<h2 class="centerText">Total Availablity</h2>

<div class=" col-md-12 form-horizontal">
    <hr />
    <div class="col-md-7">
        @using (Html.BeginForm("ExportToExcel", "Availability", FormMethod.Post))
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("Years", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownList("Years", (IEnumerable<SelectListItem>)ViewBag.Years, "--Select Years--", htmlAttributes: new { @class = "form-control", onchange = "SelectedIndexChanged()" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Months", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownList("Months", (IEnumerable<SelectListItem>)ViewBag.Months, "--Select Months--", htmlAttributes: new { @class = "form-control", onchange = "SelectedIndexChanged()" })
                </div>
            </div>

            <div class="form-group">
                @Html.Label("ApplicationID", "Application", htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-8">
                    @Html.DropDownList("ApplicationID", (IEnumerable<SelectListItem>)ViewBag.Applications, "--Select Application--", htmlAttributes: new { @class = "form-control", onchange = "SelectedIndexChanged()" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-8 pull-right">
                    <input id="btnDownload" type="submit" value="Export To Excel" disabled class="btn btn-success btn-sm"/>
                </div>
            </div>
        }
    </div>

    <div class="col-md-5">
        <div id="Barchart" class="Barchart" style="display:none"></div>
    </div>
</div>

<div class="col-sm-7 pull-right" id="showMsg" style="display:none">
    <h3 class="text-danger">No record found!</h3>
</div>
<div id="divAvailability" class="col-md-12 form-horizontal" style="display:none">
    <table  class="table table-bordered table-condensed table-hover table-striped">
        <thead>
            <tr>
                <th>Year</th>
                <th>Month</th>
                <th>Application</th>
                <th>Availablity(%)</th>
                <th>#Outages</th>
                <th>Outage(Min)</th>
                <th>Goal Availability(Min)</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script type='text/javascript'>
    //Maps an event to the window closing event
    window.onbeforeunload = function (e) {
        alert("The Window is closing!");
    };
</script>